*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background: #fff;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    position: relative;
    /* width: 500px;
    height: 300px; */
    margin-left: 6rem;
    margin-top: 10rem;
    mix-blend-mode: multiply;
    /* margin: 100px auto 0; */
    word-break: break-all;
    /* border: 1px solid rgba(0, 0, 0, 0.274); */
  }
  
  .bloc-tabs {
    display: grid;
    width: 30rem;
  }
  .tabs {
    border-right: none;
    padding: 15px;
    text-align: center;
    width: 70%;
   background-color: #ffffff;
    cursor: pointer;
    border-bottom: 1px solid rgba(126, 121, 121, 0.274);
    box-sizing: content-box;
    position: relative;
    outline: none;
    margin-left: 1rem;
    height: 3rem;
    font-size: 1.3rem;
    font-weight: 500;
  }
  /* .tabs:not(:last-child){
    
  } */
  
  .active-tabs  {
    background: azure;
    border-bottom: 1px solid transparent;
  }
  .active-tabs>img {
     border: 1px solid green;
  }
  
  .active-tabs::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 5px;
    
  }
  
  
  
  button {
    border: none;
    
  }
  .content-tabs {
     display: flex;
     width: 50rem;
     margin-left: 18rem;
     margin-top: -41rem;
  }
  .content {
   
    padding: 20px;
    width: 100%;
    height: 100%;
    display: none;
  }
  .content h1 {
    
    width: 20rem;
     font-size: 2rem;
     font-family: none;
     margin-left: 10.1rem;
     text-align: left;
   
  }
  
  .content p {
   
    font-size: 1.4rem;
    font-weight: 350;
    color:#4c525a;
    text-align: left;
    margin-left: 7.2rem;
  }
  .active-content {
    display: block;
  }

  